@charset "utf-8";

/***************************************************************************
*
* INDEX STYLE
*
***************************************************************************/
#content{
	padding-top: 42px;
	overflow: hidden;
}
.contentLeft {
    width: 680px;
    float: left;
}
h2.mailOrderTitle {
    font-size: 24px;
    font-family: Meiryo;
    background-color: #ff8831;
    color: #fff;
    text-indent: 117px;
    padding: 7px 0px;
    border-radius: 10px 10px 0 0;
    letter-spacing: 1.7px;
    position: relative;
}
.mailOrderBoxText{
	padding: 15px;
	background-color: #efefef;
	border-radius: 0 0 10px 10px;
}
h2.mailOrderTitle:before{
    content: "";
    position: absolute;
    background: url(../images/index/iconTopLeft.png) no-repeat;
    background-size: 100%;
    width: 99px;
    height: 70px;
    left: 8px;
    top: -20px;
}
.mailOrderBoxText.bottom{
	border-radius: 10px;
	margin-top: 28px;
}
p.mailOrderText {
    background-color: #fff;
    padding: 16px 25px;
    letter-spacing: 1px;
    line-height: 1.72;
    border-radius: 3px;
}
.mailOrder2 {
    margin-top: 32.5px;
}
.mailOderTop {
    position: relative;
}
.mailOderTopBox{
	display: flex;
}
.mailOderTopBox p{
	margin: 13px 0 -6px 10px;
}
.mailOderTopBox p img{
	margin-right: 7px;
}
.mailOderTop span{
    font-size: 15.09px;
    font-weight: bold;
    background: linear-gradient(to bottom, #6fba26 , #57a21b);
    padding: 2px 27px 0px 22px;
    margin-left: 90px;
    margin-top: 3.5px;
    display: inline-block;
    letter-spacing: 0.5px;
    border-radius: 13px;
}
.mailOderTop h2{
    font-size: 30px;
    text-indent: 92px;
    letter-spacing: 1.5px;
}
.mailOderTop:before{
    content: "";
    position: absolute;
    background: url(../images/index/medal-top.png) no-repeat;
    background-size: 100%;
    width: 77px;
    height: 96px;
    left: 8px;
    top: -19px;
}
.mailOrder2Main {
    background-color: #ffc4c4;
    padding: 13px 14px 23.5px 16px;
    border-radius: 0 0 10px 10px;
}
.mailOrderBox h2{
	font-size: 24px;
    background-color: #fffeca;
    color: #fa5a5c;
    padding: 18px 11px 17.5px 85px;
    letter-spacing: 0.3px;
    font-family: Meiryo;
    border-radius: 4px 4px 0 0;
    position: relative;
}
.mailOrderBox h2:before{
    content: "";
    position: absolute;
    background: url(../images/index/medal1.png) no-repeat;
    background-size: 100%;
    width: 61px;
    height: 68px;
    left: 9px;
    top: -0.5px;
}
.newContact {
    background-color: #fff;
    padding: 19.5px 20px 27px 22px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.newContactBox {
    overflow: hidden;
}
p.newContactPhoto {
    display: inline-block;
}
.newContactTextBox{
    float: right;
    display: inline-block;
}
.newContacText{
	width: 360px;
    margin: 0px 16px 0 0;
    letter-spacing: 1px;
    line-height: 1.74;
}
p.btn {
    margin-top: 20px;
}
p.btn a{
	font-size: 16px;
    font-weight: bold;
    padding: 5.5px 141px 5.5px 143px;
    background-color: #4e93f8;
    border-radius: 3px;
    letter-spacing: 1.2px;
    color: #fff;
    position: relative;
}
p.btn a:hover{
	opacity: 0.7;
}
p.btn a:before{
    content: "";
    position: absolute;
    background: url(../images/index/icon-more.png) no-repeat;
    background-size: 100%;
    width: 19px;
    height: 19px;
    left: 32%;
    top: 19%;
}
table{
    margin: 25.5px 0 0px 3px
}
table tr td{
	border: 1px solid rgba(0,0,0,.1);
	height: 40px;
}
table tr td:nth-child(1){
    width: 195px;
    text-align: center;
    background-color: #ececec;
    font-weight: bold;
    letter-spacing: 1.2px;
    text-indent: -7px;
}
table tr td:nth-child(2){
    width: 404px;
    text-indent: 16px;
    font-size: 13px;
}
table tr:last-child{
	height: 44px;
}
table tr td.active{
	font-weight: bold;
    color: #ff3d3f;
    letter-spacing: 0.7px;
}
.mailOrderBox:nth-child(2){
	margin-top: 15px;
}
.mailOrderBox:nth-child(3){
	margin-top: 19.5px;
}
.mailOrderBox:nth-child(4){
	margin-top: 16.5px;
}
.mailOrderBox:nth-child(5){
	margin-top: 14.5px;
}
.mailOrderBox:nth-child(2).mailOrderBox h2:before{
    background: url(../images/index/medal2.png) no-repeat;
}
.mailOrderBox:nth-child(3).mailOrderBox h2:before{
    background: url(../images/index/medal3.png) no-repeat;
}
.mailOrderBox:nth-child(4).mailOrderBox h2:before{
    background: url(../images/index/medal4.png) no-repeat;
}
.mailOrderBox:nth-child(5).mailOrderBox h2:before{
    background: url(../images/index/medal5.png) no-repeat;
}
.contentRight {
    float: right;
    width: 250px;
    margin-right: 2px;
}
.boxSidebar{
    padding: 3px;
    box-shadow: 0 0 5px silver;
    border-radius: 10px;
}
.boxSidebar ul{
	padding: 2px;
	background-color: #f6f6f6;
	border-radius: 5px;
}
.boxSidebar ul li{
	position: relative;
	color: #2995e1;
    margin-top: 13.5px;
    font-weight: bold;
    text-indent: 28.5px;
    letter-spacing: 1px;
    line-height: 1.6;
}
.boxSidebar ul li:hover{
	cursor: pointer;
	color: #f77994;
}
.boxSidebar ul li:before{
    content: "";
    position: absolute;
    background: url(../images/index/arrowPink.png) no-repeat;
    background-size: 100%;
    width: 15px;
    height: 17px;
    left: 8px;
    top: 2.5px;
}
.boxSidebar ul li:nth-child(-n+5):after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,.1);;
    top: 27.5px;
    left: 0;
}
.boxSidebar ul li:last-child{
	padding-bottom: 16px;
}
h2.boxSidebarHeading.bgrLgr {
    font-size: 16px;
    padding: 11px 0 10px 49px;
    letter-spacing: 0.8px;
    position: relative;
}
.boxSidebar ul h2:before{
    content: "";
    position: absolute;
    background: url(../images/index/massge.png) no-repeat;
    background-size: 100%;
    width: 37px;
    height: 37px;
    left: 7px;
    top: 7px;
}
.boxSidebar:nth-child(2).boxSidebar ul h2:before{
    background: url(../images/index/star.png) no-repeat;
}
.boxSidebar:nth-child(3).boxSidebar ul h2:before{
    background: url(../images/index/ruler.png) no-repeat;
}
.boxSidebar:nth-child(4).boxSidebar ul h2:before{
    background: url(../images/index/glasses.png) no-repeat;
}
.boxSidebar:nth-child(5).boxSidebar ul h2:before{
    background: url(../images/index/book.png) no-repeat;
}
.boxSidebar:nth-child(2){
	margin-top: 16.5px;
}
.boxSidebar:nth-child(2) h2.boxSidebarHeading.bgrLgr {
    font-size: 16px;
    padding: 8px 17px 5px 49px;
    letter-spacing: 0.8px;
    position: relative;
    line-height: 1.02;
}
.boxSidebar:nth-child(3){
	margin-top: 16.5px;
}
.boxSidebar:nth-child(4){
	margin-top: 18px;
}
.boxSidebar:nth-child(5){
	margin-top: 18.5px;
}